# Versiones
MLFLOW_VERSION=3.14.0

# PostgreSQL
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=mlflow_db
PG_PORT=5432

# MLflow
MLFLOW_PORT=5001

# MinIO
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MLFLOW_BUCKET_NAME=mlflow